include LICENSE
include README.md

# Include the data files
recursive-include GeologicalToolbox/tests/test_data *.txt

# include documentation
recursive-include doc/build/html *
recursive-include doc/build/man *